pkgbase = scratch2
	pkgdesc = With Scratch, you can program your own interactive stories, games, and animations
	pkgver = 2.0.454
	pkgrel = 2
	url = https://scratch.mit.edu
	arch = any
	license = GPL
	makedepends = unzip
	depends = adobe-air
	depends = libxt
	depends = libxtst
	depends = alsa-lib
	depends = lib32-libxt
	depends = lib32-libxtst
	depends = lib32-alsa-lib
	noextract = Scratch-454.air
	source = https://scratch.mit.edu/scratchr2/static/sa/Scratch-454.air
	source = scratch2.desktop
	source = scratch2.png
	source = scratch2.xml
	source = x-scratch2-project.png
	sha1sums = c096866c40c63f36ccf11539433eb7ae66797adf
	sha1sums = 54d603c20b35daa24a700fec465e6cc3b2645406
	sha1sums = bfca77daa1a9079f2197d98509ca4a33b3246df1
	sha1sums = 2d45707fd12c709e21fa74b85f6c7b7dfe0d47a2
	sha1sums = 211b6b6ca9e987327632446f1bb15908babbcfae

pkgname = scratch2

